<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--　Wait time to start. [0 - 3600] (unit: sec.)　-->
    <add key="WAIT_TIME" value="5" />
    <!-- Interval for update "Active hours". [1 - 1440] (unit: min.) -->
    <add key="INTERVAL_FOR_UPDATE" value="120"/>
  </appSettings>
</configuration>